.field{
    text-align: center;
  }

  .new{
    text-align: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    box-align: center;
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
    white-space: nowrap;
  }

  h1{
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
    white-space: nowrap;
  }

  *{
    padding:0; 
    margin:0;
  }
  .star{
    margin: 0px;
    text-align: center;
  }
  
  .star input[type='radio']{
    display: none;
  }
  .star label{
    position: relative;
    padding: 5px 5px 0;
    color: gray;
    cursor: pointer;
    font-size: 40px; /*星の大きさを変更するときはここ*/
  }
  .star label .text{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 0px; /*星の上の説明書きの大きさを変更するときはここ*/
    color: gray;
  }
  .star label:hover,
  .star label:hover ~ label,
  .star input[type='radio']:checked ~ label{
    color: #ffcc00;
  }


  .new {
    margin: 30px auto;
    width: 40%;
    border: solid #d3def1;
    border-radius: 20px;
    text-align: center;
    background-color: #f6faff;
    line-height: 3.0;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  input[type="text"] {
    width: 70%;
    height: 40px;
  }
  input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  