.savingpage {
    display: flex;
    font-family: 'Kiwi Maru', serif;
    font-weight: bold;
   
}

.savingpage h1{
    text-align: center; 
    margin: 25px auto;
    width: 39%;
    border: solid #D4D4D4;
    border-radius: 57px;
    text-align: center;
    background-color: white;
    
}